doctype
html
	head
		title Node chat
		script(src="/socket.io/socket.io.js")
		script(src="/chat.js")
	body
		#content(style="width: 500px; height: 300px; margin: 0 0 20px 0; border: 1px solid #999; overflow-y: scroll")
			
		form(action="")#form
			input(type="text", style="width: 350px")#field
			button#send Send